In [1]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
browser = Browser('chrome')

In [3]:
#url for Player goals Stats seasons 2017_2019 to 2021_2022
url_1718_player = "https://fbref.com/en/comps/9/2017-2018/stats/2017-2018-Premier-League-Stats"
url_1819_player = "https://fbref.com/en/comps/9/2018-2019/stats/2018-2019-Premier-League-Stats"
url_1920_player = "https://fbref.com/en/comps/9/2019-2020/stats/2019-2020-Premier-League-Stats"
url_2021_player = "https://fbref.com/en/comps/9/2020-2021/stats/2020-2021-Premier-League-Stats"
url_2122_player = "https://fbref.com/en/comps/9/2021-2022/stats/2021-2022-Premier-League-Stats"

In [4]:
# Visit the website
urls = [url_1718_player, url_1819_player, url_1920_player, url_2021_player, url_2122_player]
Col = []
dt = []
for url in urls:
    browser.visit(url)
    browser.is_element_present_by_css('div.list_text', wait_time=1)
    html = browser.html
    player_soup = soup(html, 'html.parser')
    table = player_soup.find('table', class_='min_width sortable stats_table shade_zero now_sortable sticky_table eq2 re2 le2')
    # Create an empty list
    columns = []
    data = []
    # Loop through the scraped data to create a list of rows

    headings = table.find_all('th', 'data.stat')
    for heading in headings:
        columns.append(heading.get_data-stat())

    rows = table.find_all('tr')

    for row in rows:
        items = []
        row_data = row.find_all('td')
        for i in row_data:
            items.append(i.text)
        data.append(items)
    Col.append(columns)
    dt.append(data)

In [5]:
# Create a Pandas DataFrame for 2017-2018 season by using the list of rows and a list of the column names
player17_18_df = pd.DataFrame(dt[0], columns = ['Player','Nation','Pos','Squad','Age','Born','MP',
                                          'Starts','Min','90s','Gls','Ast','G+A','G-PK','PK','PKatt','CrdY',
                                           'CrdR','xG','npxG','xAG','npxG+xAG','PrgC','PrgP','PrgR','Gls','Ast',
                                            'G+A','G-PK','G+A-PK','xG','xAG','xG+xAG','npxG','npxG+xAG','Matches'])
player17_18_df['Seasons']= '2017-2018'
player17_18_df = player17_18_df[2:]
player17_18_df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,Seasons
2,Patrick van Aanholt,nl NED,DF,Crystal Palace,26,1990,28,25,"2,184",24.3,...,0.25,0.21,0.25,0.13,0.09,0.21,0.13,0.21,Matches,2017-2018
3,Rolando Aarons,eng ENG,"MF,FW",Newcastle Utd,21,1995,4,1,139,1.5,...,0.00,0.00,0.00,0.04,0.00,0.04,0.04,0.04,Matches,2017-2018
4,Tammy Abraham,eng ENG,FW,Swansea City,19,1997,31,15,"1,726",19.2,...,0.31,0.26,0.31,0.35,0.08,0.44,0.35,0.44,Matches,2017-2018
5,Charlie Adam,sct SCO,MF,Stoke City,31,1985,11,5,411,4.6,...,0.00,0.00,0.00,0.36,0.27,0.63,0.19,0.46,Matches,2017-2018
6,Adrián,es ESP,GK,West Ham,30,1987,19,19,"1,710",19.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches,2017-2018

In [6]:
# Create a Pandas DataFrame for 2018-2019 season by using the list of rows and a list of the column names
player18_19_df = pd.DataFrame(dt[1], columns = ['Player','Nation','Pos','Squad','Age','Born','MP',
                                          'Starts','Min','90s','Gls','Ast','G+A','G-PK','PK','PKatt','CrdY',
                                           'CrdR','xG','npxG','xAG','npxG+xAG','PrgC','PrgP','PrgR','Gls','Ast',
                                            'G+A','G-PK','G+A-PK','xG','xAG','xG+xAG','npxG','npxG+xAG','Matches'])
player18_19_df['Seasons']= '2018-2019'
player18_19_df = player18_19_df[2:]

player18_19_df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,Seasons
2,Patrick van Aanholt,nl NED,DF,Crystal Palace,27,1990,36,36,"3,195",35.5,...,0.14,0.08,0.14,0.07,0.12,0.20,0.07,0.20,Matches,2018-2019
3,Sergio Agüero,ar ARG,FW,Manchester City,30,1988,33,31,"2,459",27.3,...,1.06,0.70,0.99,0.66,0.18,0.85,0.60,0.79,Matches,2018-2019
4,Nathan Aké,nl NED,DF,Bournemouth,23,1995,38,38,"3,411",37.9,...,0.11,0.11,0.11,0.09,0.03,0.11,0.09,0.11,Matches,2018-2019
5,Marc Albrighton,eng ENG,"FW,MF",Leicester City,28,1989,27,18,"1,625",18.1,...,0.22,0.11,0.22,0.07,0.16,0.23,0.07,0.23,Matches,2018-2019
6,Toby Alderweireld,be BEL,DF,Tottenham,29,1989,34,33,"2,922",32.5,...,0.00,0.00,0.00,0.03,0.02,0.05,0.03,0.05,Matches,2018-2019

In [7]:
# Create a Pandas DataFrame for 2019-2020 season by using the list of rows and a list of the column names
player19_20_df = pd.DataFrame(dt[2], columns = ['Player','Nation','Pos','Squad','Age','Born','MP',
                                          'Starts','Min','90s','Gls','Ast','G+A','G-PK','PK','PKatt','CrdY',
                                           'CrdR','xG','npxG','xAG','npxG+xAG','PrgC','PrgP','PrgR','Gls','Ast',
                                            'G+A','G-PK','G+A-PK','xG','xAG','xG+xAG','npxG','npxG+xAG','Matches'])
player19_20_df['Seasons']= '2019-2020'
player19_20_df = player19_20_df[2:]
player19_20_df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,Seasons
2,Patrick van Aanholt,nl NED,DF,Crystal Palace,28,1990,29,29,"2,507",27.9,...,0.18,0.07,0.14,0.08,0.13,0.21,0.05,0.18,Matches,2019-2020
3,Max Aarons,eng ENG,DF,Norwich City,19,2000,36,36,"3,240",36.0,...,0.03,0.00,0.03,0.02,0.11,0.12,0.02,0.12,Matches,2019-2020
4,Tammy Abraham,eng ENG,FW,Chelsea,21,1997,34,25,"2,215",24.6,...,0.73,0.61,0.73,0.67,0.11,0.77,0.67,0.77,Matches,2019-2020
5,Che Adams,sct SCO,FW,Southampton,23,1996,30,12,"1,111",12.3,...,0.49,0.32,0.49,0.43,0.14,0.57,0.43,0.57,Matches,2019-2020
6,Adrián,es ESP,GK,Liverpool,32,1987,11,9,875,9.7,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches,2019-2020

In [8]:
# Create a Pandas DataFrame for 2020-2021 season by using the list of rows and a list of the column names
player20_21_df = pd.DataFrame(dt[3], columns = ['Player','Nation','Pos','Squad','Age','Born','MP',
                                          'Starts','Min','90s','Gls','Ast','G+A','G-PK','PK','PKatt','CrdY',
                                           'CrdR','xG','npxG','xAG','npxG+xAG','PrgC','PrgP','PrgR','Gls','Ast',
                                            'G+A','G-PK','G+A-PK','xG','xAG','xG+xAG','npxG','npxG+xAG','Matches'])
player20_21_df['Seasons']= '2020-2021'
player20_21_df = player20_21_df[2:]
player20_21_df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,Seasons
2,Patrick van Aanholt,nl NED,DF,Crystal Palace,29,1990,22,20,"1,777",19.7,...,0.05,0.00,0.05,0.07,0.04,0.11,0.07,0.11,Matches,2020-2021
3,Tammy Abraham,eng ENG,FW,Chelsea,22,1997,22,12,"1,040",11.6,...,0.61,0.52,0.61,0.51,0.06,0.57,0.51,0.57,Matches,2020-2021
4,Che Adams,sct SCO,FW,Southampton,24,1996,36,30,"2,667",29.6,...,0.47,0.30,0.47,0.33,0.17,0.50,0.33,0.50,Matches,2020-2021
5,Tosin Adarabioyo,eng ENG,DF,Fulham,22,1997,33,33,"2,953",32.8,...,0.00,0.00,0.00,0.03,0.01,0.04,0.03,0.04,Matches,2020-2021
6,Adrián,es ESP,GK,Liverpool,33,1987,3,3,270,3.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches,2020-2021

In [9]:
# Create a Pandas DataFrame for 2021-2022 season by using the list of rows and a list of the column names
player21_22_df = pd.DataFrame(dt[4], columns = ['Player','Nation','Pos','Squad','Age','Born','MP',
                                          'Starts','Min','90s','Gls','Ast','G+A','G-PK','PK','PKatt','CrdY',
                                           'CrdR','xG','npxG','xAG','npxG+xAG','PrgC','PrgP','PrgR','Gls','Ast',
                                            'G+A','G-PK','G+A-PK','xG','xAG','xG+xAG','npxG','npxG+xAG','Matches'])
player21_22_df['Seasons']= '2021-2022'
player21_22_df = player21_22_df[2:]
player21_22_df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,Seasons
2,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,"2,881",32.0,...,0.06,0.00,0.06,0.03,0.05,0.08,0.03,0.08,Matches,2021-2022
3,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,"2,039",22.7,...,0.44,0.31,0.44,0.31,0.13,0.45,0.31,0.45,Matches,2021-2022
4,Rayan Aït Nouri,dz ALG,"DF,MF",Wolves,20,2001,23,20,"1,828",20.3,...,0.15,0.05,0.15,0.03,0.08,0.11,0.03,0.11,Matches,2021-2022
5,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,"1,995",22.2,...,0.18,0.05,0.18,0.04,0.08,0.11,0.04,0.11,Matches,2021-2022
6,Nathan Aké,nl NED,DF,Manchester City,26,1995,14,10,923,10.3,...,0.20,0.20,0.20,0.07,0.06,0.12,0.07,0.12,Matches,2021-2022

In [10]:
# Combine each season into 1 dataframe
player_all_seasons_df = pd.concat([player17_18_df, player18_19_df, player19_20_df, player20_21_df, player21_22_df])
player_all_seasons_df.sample(100)

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,Seasons
187,Joe Gomez,eng ENG,DF,Liverpool,20,1997,23,21,"1,902",21.1,...,0.09,0.00,0.09,0.01,0.07,0.08,0.01,0.08,Matches,2017-2018
44,Patrick Bamford,eng ENG,FW,Leeds United,26,1993,38,37,"3,050",33.9,...,0.71,0.44,0.65,0.54,0.10,0.64,0.49,0.60,Matches,2020-2021
372,Reiss Nelson,eng ENG,"FW,MF",Arsenal,17,1999,3,2,145,1.6,...,0.00,0.00,0.00,0.06,0.02,0.08,0.06,0.08,Matches,2017-2018
491,Mark Travers,ie IRL,GK,Bournemouth,20,1999,1,1,90,1.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches,2019-2020
113,Kevin De Bruyne,be BEL,MF,Manchester City,27,1991,19,11,975,10.8,...,0.37,0.18,0.37,0.13,0.52,0.65,0.13,0.65,Matches,2018-2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,Dale Stephens,eng ENG,MF,Brighton,30,1989,33,28,"2,530",28.1,...,0.04,0.00,0.04,0.02,0.05,0.07,0.02,0.07,Matches,2019-2020
157,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,2017-2018
62,Wilfried Bony,ci CIV,FW,Swansea City,28,1988,15,8,707,7.9,...,0.25,0.25,0.25,0.20,0.03,0.23,0.20,0.23,Matches,2017-2018
323,Konstantinos Mavropanos,gr GRE,DF,Arsenal,19,1997,3,3,195,2.2,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches,2017-2018
325,Max Meyer,de GER,MF,Crystal Palace,22,1995,29,15,"1,416",15.7,...,0.19,0.06,0.19,0.11,0.07,0.18,0.11,0.18,Matches,2018-2019

In [11]:
# Drop unwated Columns
final_player_df = player_all_seasons_df[['Player', 'Squad', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Seasons']]
final_player_df.head()

,Player,Squad,MP,Starts,Min,90s,Gls,Gls,Seasons
2,Patrick van Aanholt,Crystal Palace,28,25,"2,184",24.3,5,0.21,2017-2018
3,Rolando Aarons,Newcastle Utd,4,1,139,1.5,0,0.00,2017-2018
4,Tammy Abraham,Swansea City,31,15,"1,726",19.2,5,0.26,2017-2018
5,Charlie Adam,Stoke City,11,5,411,4.6,0,0.00,2017-2018
6,Adrián,West Ham,19,19,"1,710",19.0,0,0.00,2017-2018

In [12]:
# Rename Gls columns to Goals
final_player_df = final_player_df.rename(columns={'Gls':'Goals'})
final_player_df.head()

,Player,Squad,MP,Starts,Min,90s,Goals,Goals,Seasons
2,Patrick van Aanholt,Crystal Palace,28,25,"2,184",24.3,5,0.21,2017-2018
3,Rolando Aarons,Newcastle Utd,4,1,139,1.5,0,0.00,2017-2018
4,Tammy Abraham,Swansea City,31,15,"1,726",19.2,5,0.26,2017-2018
5,Charlie Adam,Stoke City,11,5,411,4.6,0,0.00,2017-2018
6,Adrián,West Ham,19,19,"1,710",19.0,0,0.00,2017-2018

In [14]:
# Add League Column
final_player_df['League'] = 'EPL'
final_player_df.head(100)

,Player,Squad,MP,Starts,Min,90s,Goals,Goals,Seasons,League
2,Patrick van Aanholt,Crystal Palace,28,25,"2,184",24.3,5,0.21,2017-2018,EPL
3,Rolando Aarons,Newcastle Utd,4,1,139,1.5,0,0.00,2017-2018,EPL
4,Tammy Abraham,Swansea City,31,15,"1,726",19.2,5,0.26,2017-2018,EPL
5,Charlie Adam,Stoke City,11,5,411,4.6,0,0.00,2017-2018,EPL
6,Adrián,West Ham,19,19,"1,710",19.0,0,0.00,2017-2018,EPL
...,...,...,...,...,...,...,...,...,...,...
97,Ciaran Clark,Newcastle Utd,20,19,"1,746",19.4,2,0.10,2017-2018,EPL
98,Tom Cleverley,Watford,23,22,"1,902",21.1,1,0.05,2017-2018,EPL
99,Sam Clucas,Swansea City,29,23,"2,044",22.7,3,0.13,2017-2018,EPL
100,Nathaniel Clyne,Liverpool,3,2,174,1.9,0,0.00,2017-2018,EPL
101,Séamus Coleman,Everton,12,12,"1,035",11.5,0,0.00,2017-2018,EPL

In [16]:
# Write the data to a CSV

final_player_df.to_csv('player_EPL.csv', index=False)

In [17]:
browser.quit()