In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [2]:
# File to Load 
path = "EPL_all_seasons_sum.csv"
EPL_df = pd.read_csv(path)
EPL_df.head()

,Unnamed: 0,Season,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,...,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($),League
0,0,2017-2018,1,Manchester City,32,26.4,71.0,38,32,4,...,79,100,2.63,78.6,23.8,54.8,1.44,54070,184103578.0,EPL
1,1,2017-2018,2,Manchester Utd,35,26.7,54.7,38,25,6,...,40,81,2.13,55.7,40.7,15.0,0.40,74976,201934520.0,EPL
2,2,2017-2018,3,Tottenham,34,25.8,61.8,38,23,8,...,38,77,2.03,64.7,33.9,30.8,0.81,67953,97579832.0,EPL
3,3,2017-2018,4,Liverpool,34,25.6,60.3,38,21,12,...,46,75,1.97,72.9,33.8,39.1,1.03,53049,116263857.0,EPL
4,4,2017-2018,5,Chelsea,45,26.7,55.6,38,21,7,...,24,70,1.84,54.4,33.8,20.6,0.54,41282,147846240.0,EPL

In [3]:
EPL_df.columns

Index(['Unnamed: 0', 'Season', 'League Rank', 'Squad', '# of Players',
       'Avg Age', 'Avg Poss', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts',
       'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance',
       'Annual Wages ($)', 'League'],
      dtype='object')

In [4]:
# group by team name
squad_groupby = EPL_df.groupby(['Squad'])

In [5]:
# Get average for all stats for each teams' last 5 seasons
avg_pts = squad_groupby['Pts'].mean()
avg_mp = squad_groupby['MP'].mean()
avg_wins = squad_groupby['W'].mean()
avg_draws = squad_groupby['D'].mean()
avg_losses = squad_groupby['L'].mean()
avg_poss = squad_groupby['Avg Poss'].mean()
avg_GF = squad_groupby['GF'].mean()
avg_GA = squad_groupby['GA'].mean()
avg_GD = squad_groupby['GD'].mean()
avg_xG = squad_groupby['xG'].mean()
avg_xGA = squad_groupby['xGA'].mean()
avg_xGD = squad_groupby['xGD'].mean()
avg_wages = squad_groupby['Annual Wages ($)'].mean()

In [6]:
# Create a DataFrame called using averages calculated above
EPL_sum ={
    "Matches_Played": avg_mp,
    "Wins": avg_wins,
    "Draws": avg_draws,
    "Losses": avg_losses,
    "Points": avg_pts,
    "Goal_Differential": avg_GD,
    "xG_Differential": avg_xGD,
    "Possession": avg_poss,
    'Wages': avg_wages}

EPL_sum_df = pd.DataFrame(EPL_sum)

EPL_sum_df

,Matches_Played,Wins,Draws,Losses,Points,Goal_Differential,xG_Differential,Possession,Wages
Squad,,,,,,,,,
Arsenal,38.0,18.800000,7.40,11.800000,63.8,16.400000,8.360000,55.920000,1.638060e+08
Aston Villa,38.0,12.666667,7.00,18.333333,45.0,-6.333333,-9.000000,46.366667,7.483860e+07
Bournemouth,38.0,11.000000,8.00,19.000000,41.0,-18.333333,-13.933333,46.366667,5.594109e+07
Brentford,38.0,13.000000,7.00,18.000000,46.0,-8.000000,-2.700000,44.800000,2.567763e+07
Brighton,38.0,9.600000,13.00,15.400000,41.8,-13.600000,-5.640000,48.760000,5.577839e+07
Burnley,38.0,11.400000,10.20,16.400000,44.4,-14.800000,-14.360000,41.820000,4.801607e+07
Cardiff City,38.0,10.000000,4.00,24.000000,34.0,-35.000000,-19.100000,35.400000,4.009015e+07
Chelsea,38.0,20.400000,8.60,9.000000,69.8,25.600000,27.140000,60.320000,1.756046e+08
Crystal Palace,38.0,11.800000,10.20,16.000000,45.6,-10.400000,-7.400000,45.380000,9.204499e+07
Everton,38.0,13.800000,8.60,15.600000,50.0,-8.400000,-4.820000,46.480000,1.078747e+08
Fulham,38.0,6.000000,9.00,23.000000,27.0,-36.500000,-19.450000,49.250000,6.263726e+07
Huddersfield,38.0,6.000000,8.50,23.500000,26.5,-42.000000,-24.700000,46.450000,3.689534e+07
Leeds United,38.0,13.500000,8.00,16.500000,48.5,-14.500000,-12.850000,54.800000,2.916312e+07
Leicester City,38.0,15.800000,8.40,13.800000,55.8,9.200000,5.120000,52.460000,8.978856e+07
Liverpool,38.0,26.200000,7.80,4.000000,86.4,51.800000,38.920000,61.960000,1.490675e+08
Manchester City,38.0,29.200000,4.00,4.800000,91.6,68.400000,54.420000,67.300000,1.799327e+08
Manchester Utd,38.0,19.800000,9.60,8.600000,69.0,22.000000,14.340000,54.720000,2.224331e+08
Newcastle Utd,38.0,12.000000,9.40,16.600000,45.4,-13.600000,-17.860000,40.060000,6.938670e+07
Norwich City,38.0,5.000000,6.50,26.500000,21.5,-55.000000,-36.350000,46.100000,3.494369e+07
Sheffield Utd,38.0,10.500000,7.00,20.500000,38.5,-21.500000,-18.750000,42.400000,2.689722e+07
Southampton,38.0,10.400000,10.80,16.800000,42.0,-18.600000,-7.440000,48.660000,7.385908e+07
Stoke City,38.0,7.000000,12.00,19.000000,33.0,-33.000000,-26.000000,41.400000,5.960903e+07
Swansea City,38.0,8.000000,9.00,21.000000,33.0,-28.000000,-27.000000,45.300000,5.805476e+07
Tottenham,38.0,20.400000,6.80,10.800000,68.0,26.400000,11.640000,55.240000,1.272944e+08
Watford,38.0,9.750000,7.75,20.500000,37.0,-24.500000,-12.900000,45.000000,5.921895e+07
West Brom,38.0,5.500000,12.00,20.500000,28.5,-33.000000,-21.700000,39.300000,5.841702e+07
West Ham,38.0,14.000000,8.80,15.200000,50.8,-2.400000,-8.660000,45.800000,8.940771e+07
Wolves,38.0,14.500000,9.50,14.000000,53.0,-2.250000,-1.550000,48.475000,6.079168e+07

In [7]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = EPL_sum_df['Points']

# Separate the X variable, the features
X = EPL_sum_df.drop(columns = 'Points')

In [8]:
# Review the y variable Series
y

Squad
Arsenal            63.8
Aston Villa        45.0
Bournemouth        41.0
Brentford          46.0
Brighton           41.8
Burnley            44.4
Cardiff City       34.0
Chelsea            69.8
Crystal Palace     45.6
Everton            50.0
Fulham             27.0
Huddersfield       26.5
Leeds United       48.5
Leicester City     55.8
Liverpool          86.4
Manchester City    91.6
Manchester Utd     69.0
Newcastle Utd      45.4
Norwich City       21.5
Sheffield Utd      38.5
Southampton        42.0
Stoke City         33.0
Swansea City       33.0
Tottenham          68.0
Watford            37.0
West Brom          28.5
West Ham           50.8
Wolves             53.0
Name: Points, dtype: float64

In [9]:
# Review the X variable DataFrame
X

,Matches_Played,Wins,Draws,Losses,Goal_Differential,xG_Differential,Possession,Wages
Squad,,,,,,,,
Arsenal,38.0,18.800000,7.40,11.800000,16.400000,8.360000,55.920000,1.638060e+08
Aston Villa,38.0,12.666667,7.00,18.333333,-6.333333,-9.000000,46.366667,7.483860e+07
Bournemouth,38.0,11.000000,8.00,19.000000,-18.333333,-13.933333,46.366667,5.594109e+07
Brentford,38.0,13.000000,7.00,18.000000,-8.000000,-2.700000,44.800000,2.567763e+07
Brighton,38.0,9.600000,13.00,15.400000,-13.600000,-5.640000,48.760000,5.577839e+07
Burnley,38.0,11.400000,10.20,16.400000,-14.800000,-14.360000,41.820000,4.801607e+07
Cardiff City,38.0,10.000000,4.00,24.000000,-35.000000,-19.100000,35.400000,4.009015e+07
Chelsea,38.0,20.400000,8.60,9.000000,25.600000,27.140000,60.320000,1.756046e+08
Crystal Palace,38.0,11.800000,10.20,16.000000,-10.400000,-7.400000,45.380000,9.204499e+07
Everton,38.0,13.800000,8.60,15.600000,-8.400000,-4.820000,46.480000,1.078747e+08
Fulham,38.0,6.000000,9.00,23.000000,-36.500000,-19.450000,49.250000,6.263726e+07
Huddersfield,38.0,6.000000,8.50,23.500000,-42.000000,-24.700000,46.450000,3.689534e+07
Leeds United,38.0,13.500000,8.00,16.500000,-14.500000,-12.850000,54.800000,2.916312e+07
Leicester City,38.0,15.800000,8.40,13.800000,9.200000,5.120000,52.460000,8.978856e+07
Liverpool,38.0,26.200000,7.80,4.000000,51.800000,38.920000,61.960000,1.490675e+08
Manchester City,38.0,29.200000,4.00,4.800000,68.400000,54.420000,67.300000,1.799327e+08
Manchester Utd,38.0,19.800000,9.60,8.600000,22.000000,14.340000,54.720000,2.224331e+08
Newcastle Utd,38.0,12.000000,9.40,16.600000,-13.600000,-17.860000,40.060000,6.938670e+07
Norwich City,38.0,5.000000,6.50,26.500000,-55.000000,-36.350000,46.100000,3.494369e+07
Sheffield Utd,38.0,10.500000,7.00,20.500000,-21.500000,-18.750000,42.400000,2.689722e+07
Southampton,38.0,10.400000,10.80,16.800000,-18.600000,-7.440000,48.660000,7.385908e+07
Stoke City,38.0,7.000000,12.00,19.000000,-33.000000,-26.000000,41.400000,5.960903e+07
Swansea City,38.0,8.000000,9.00,21.000000,-28.000000,-27.000000,45.300000,5.805476e+07
Tottenham,38.0,20.400000,6.80,10.800000,26.400000,11.640000,55.240000,1.272944e+08
Watford,38.0,9.750000,7.75,20.500000,-24.500000,-12.900000,45.000000,5.921895e+07
West Brom,38.0,5.500000,12.00,20.500000,-33.000000,-21.700000,39.300000,5.841702e+07
West Ham,38.0,14.000000,8.80,15.200000,-2.400000,-8.660000,45.800000,8.940771e+07
Wolves,38.0,14.500000,9.50,14.000000,-2.250000,-1.550000,48.475000,6.079168e+07

In [10]:
# Check the balance of our target values
y.value_counts()

33.0    2
63.8    1
86.4    1
50.8    1
28.5    1
37.0    1
68.0    1
42.0    1
38.5    1
21.5    1
45.4    1
69.0    1
91.6    1
55.8    1
45.0    1
48.5    1
26.5    1
27.0    1
50.0    1
45.6    1
69.8    1
34.0    1
44.4    1
41.8    1
46.0    1
41.0    1
53.0    1
Name: Points, dtype: int64

In [11]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [12]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
model = LogisticRegression(random_state = 1)

# Fit the model using training data
model.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'