In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import scipy.stats as stats
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [27]:
#laliga_1213_summary = "https://fbref.com/en/comps/12/2012-2013/2012-2013-La-Liga-Stats"
laliga_1314_summary = "https://fbref.com/en/comps/12/2013-2014/2013-2014-La-Liga-Stats"
laliga_1415_summary = "https://fbref.com/en/comps/12/2014-2015/2014-2015-La-Liga-Stats"
laliga_1516_summary = "https://fbref.com/en/comps/12/2015-2016/2015-2016-La-Liga-Stats"
laliga_1617_summary = "https://fbref.com/en/comps/12/2016-2017/2016-2017-La-Liga-Stats"
laliga_1718_summary = "https://fbref.com/en/comps/12/2017-2018/2017-2018-La-Liga-Stats"
laliga_1819_summary = "https://fbref.com/en/comps/12/2018-2019/2018-2019-La-Liga-Stats"
laliga_1920_summary = "https://fbref.com/en/comps/12/2019-2020/2019-2020-La-Liga-Stats"
laliga_2021_summary = "https://fbref.com/en/comps/12/2020-2021/2020-2021-La-Liga-Stats"
laliga_2122_summary = "https://fbref.com/en/comps/12/2021-2022/2021-2022-La-Liga-Stats"

In [28]:
#season_1213 = pd.read_html(laliga_1213_summary)
season_1314 = pd.read_html(laliga_1314_summary)
season_1415 = pd.read_html(laliga_1415_summary)
season_1516 = pd.read_html(laliga_1516_summary)
season_1617 = pd.read_html(laliga_1617_summary)
season_1718 = pd.read_html(laliga_1718_summary)
season_1819 = pd.read_html(laliga_1819_summary)
season_1920 = pd.read_html(laliga_1920_summary)
season_2021 = pd.read_html(laliga_2021_summary)
season_2122 = pd.read_html(laliga_2122_summary)

In [29]:
#laliga_summary_1213_df = pd.DataFrame(season_1213[0])
laliga_summary_1314_df = pd.DataFrame(season_1314[0])
laliga_summary_1415_df = pd.DataFrame(season_1415[0])
laliga_summary_1516_df = pd.DataFrame(season_1516[0])
laliga_summary_1617_df = pd.DataFrame(season_1617[0])
laliga_summary_1718_df = pd.DataFrame(season_1718[0])
laliga_summary_1819_df = pd.DataFrame(season_1819[0])
laliga_summary_1920_df = pd.DataFrame(season_1920[0])
laliga_summary_2021_df = pd.DataFrame(season_2021[0])
laliga_summary_2122_df = pd.DataFrame(season_2122[0])

In [30]:
#season_1213 = pd.read_html(laliga_1213_summary)
season_1314 = pd.read_html(laliga_1314_summary)
season_1415 = pd.read_html(laliga_1415_summary)
season_1516 = pd.read_html(laliga_1516_summary)
season_1617 = pd.read_html(laliga_1617_summary)
season_1718 = pd.read_html(laliga_1718_summary)
season_1819 = pd.read_html(laliga_1819_summary)
season_1920 = pd.read_html(laliga_1920_summary)
season_2021 = pd.read_html(laliga_2021_summary)
season_2122 = pd.read_html(laliga_2122_summary)

#laliga_age_1213_df = pd.DataFrame(season_1213[2])
laliga_age_1314_df = pd.DataFrame(season_1314[2])
laliga_age_1415_df = pd.DataFrame(season_1415[2])
laliga_age_1516_df = pd.DataFrame(season_1516[2])
laliga_age_1617_df = pd.DataFrame(season_1617[2])
laliga_age_1718_df = pd.DataFrame(season_1718[2])
laliga_age_1819_df = pd.DataFrame(season_1819[2])
laliga_age_1920_df = pd.DataFrame(season_1920[2])
laliga_age_2021_df = pd.DataFrame(season_2021[2])
laliga_age_2122_df = pd.DataFrame(season_2122[2])

In [31]:
#laliga_age_1213_df = laliga_age_1213_df.droplevel(0, axis = 1)
laliga_age_1314_df = laliga_age_1314_df.droplevel(0, axis = 1)
laliga_age_1415_df = laliga_age_1415_df.droplevel(0, axis = 1)
laliga_age_1516_df = laliga_age_1516_df.droplevel(0, axis = 1)
laliga_age_1617_df = laliga_age_1617_df.droplevel(0, axis = 1)
laliga_age_1718_df = laliga_age_1718_df.droplevel(0, axis = 1)
laliga_age_1819_df = laliga_age_1819_df.droplevel(0, axis = 1)
laliga_age_1920_df = laliga_age_1920_df.droplevel(0, axis = 1)
laliga_age_2021_df = laliga_age_2021_df.droplevel(0, axis = 1)
laliga_age_2122_df = laliga_age_2122_df.droplevel(0, axis = 1)
laliga_age_2122_df.head()

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Alavés,33,27.9,42.0,38,418,3420,38.0,29,20,...,0.76,0.53,1.29,0.61,1.13,0.98,0.67,1.65,0.84,1.51
1,Athletic Club,26,26.9,48.1,38,418,3420,38.0,40,34,...,1.05,0.89,1.95,0.97,1.87,1.31,0.99,2.29,1.16,2.15
2,Atlético Madrid,26,28.1,50.6,38,418,3420,38.0,63,45,...,1.66,1.18,2.84,1.55,2.74,1.43,1.06,2.49,1.33,2.39
3,Barcelona,38,26.2,64.2,38,418,3420,38.0,68,52,...,1.79,1.37,3.16,1.63,3.00,1.67,1.25,2.92,1.52,2.78
4,Betis,31,28.9,53.7,38,418,3420,38.0,60,45,...,1.58,1.18,2.76,1.42,2.61,1.41,0.99,2.40,1.29,2.28

In [32]:
laliga_1314_wages = "https://fbref.com/en/comps/12/2013-2014/wages/2013-2014-La-Liga-Wages"
laliga_1415_wages = "https://fbref.com/en/comps/12/2014-2015/wages/2014-2015-La-Liga-Wages"
laliga_1516_wages = "https://fbref.com/en/comps/12/2015-2016/wages/2015-2016-La-Liga-Wages"
laliga_1617_wages = "https://fbref.com/en/comps/12/2016-2017/wages/2016-2017-La-Liga-Wages"
laliga_1718_wages = "https://fbref.com/en/comps/12/2017-2018/wages/2017-2018-La-Liga-Wages"
laliga_1819_wages = "https://fbref.com/en/comps/12/2018-2019/wages/2018-2019-La-Liga-Wages"
laliga_1920_wages = "https://fbref.com/en/comps/12/2019-2020/wages/2019-2020-La-Liga-Wages"
laliga_2021_wages = "https://fbref.com/en/comps/12/2020-2021/wages/2020-2021-La-Liga-Wages"
laliga_2122_wages = "https://fbref.com/en/comps/12/2021-2022/wages/2021-2022-La-Liga-Wages"

In [33]:
#season_1213 = pd.read_html(laliga_1213_wages)
season_1314 = pd.read_html(laliga_1314_wages)
season_1415 = pd.read_html(laliga_1415_wages)
season_1516 = pd.read_html(laliga_1516_wages)
season_1617 = pd.read_html(laliga_1617_wages)
season_1718 = pd.read_html(laliga_1718_wages)
season_1819 = pd.read_html(laliga_1819_wages)
season_1920 = pd.read_html(laliga_1920_wages)
season_2021 = pd.read_html(laliga_2021_wages)
season_2122 = pd.read_html(laliga_2122_wages)

In [34]:
laliga_1314_wages_df = pd.DataFrame(season_1314[0])
laliga_1415_wages_df = pd.DataFrame(season_1415[0])
laliga_1516_wages_df = pd.DataFrame(season_1516[0])
laliga_1617_wages_df = pd.DataFrame(season_1617[0])
laliga_1718_wages_df = pd.DataFrame(season_1718[0])
laliga_1819_wages_df = pd.DataFrame(season_1819[0])
laliga_1920_wages_df = pd.DataFrame(season_1920[0])
laliga_2021_wages_df = pd.DataFrame(season_2021[0])
laliga_2122_wages_df = pd.DataFrame(season_2122[0])

In [35]:
laliga_1314_merged_df = pd.merge(laliga_summary_1314_df, laliga_1314_wages_df, how="left", on=['Squad'])
laliga_1415_merged_df = pd.merge(laliga_summary_1415_df, laliga_1415_wages_df, how="left", on=['Squad'])
laliga_1516_merged_df = pd.merge(laliga_summary_1516_df, laliga_1516_wages_df, how="left", on=['Squad'])
laliga_1617_merged_df = pd.merge(laliga_summary_1617_df, laliga_1617_wages_df, how="left", on=['Squad'])
laliga_1718_merged_df = pd.merge(laliga_summary_1718_df, laliga_1718_wages_df, how="left", on=['Squad'])
laliga_1819_merged_df = pd.merge(laliga_summary_1819_df, laliga_1819_wages_df, how="left", on=['Squad'])
laliga_1920_merged_df = pd.merge(laliga_summary_1920_df, laliga_1920_wages_df, how="left", on=['Squad'])
laliga_2021_merged_df = pd.merge(laliga_summary_2021_df, laliga_2021_wages_df, how="left", on=['Squad'])
laliga_2122_merged_df = pd.merge(laliga_summary_2122_df, laliga_2122_wages_df, how="left", on=['Squad'])

In [37]:
laliga_1314_complete_df = pd.merge(laliga_1314_merged_df, laliga_age_1314_df, how="left", on=["Squad"])
laliga_1415_complete_df = pd.merge(laliga_1415_merged_df, laliga_age_1415_df, how="left", on=["Squad"])
laliga_1516_complete_df = pd.merge(laliga_1516_merged_df, laliga_age_1516_df, how="left", on=["Squad"])
laliga_1617_complete_df = pd.merge(laliga_1617_merged_df, laliga_age_1617_df, how="left", on=["Squad"])
laliga_1718_complete_df = pd.merge(laliga_1718_merged_df, laliga_age_1718_df, how="left", on=["Squad"])
laliga_1819_complete_df = pd.merge(laliga_1819_merged_df, laliga_age_1819_df, how="left", on=["Squad"])
laliga_1920_complete_df = pd.merge(laliga_1920_merged_df, laliga_age_1920_df, how="left", on=["Squad"])
laliga_2021_complete_df = pd.merge(laliga_2021_merged_df, laliga_age_2021_df, how="left", on=["Squad"])
laliga_2122_complete_df = pd.merge(laliga_2122_merged_df, laliga_age_2122_df, how="left", on=["Squad"])
laliga_1314_complete_df.columns

Index(['Rk_x', 'Squad', 'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts',
       'Pts/MP', 'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes',
       'Rk_y', '# Pl_x', 'Weekly Wages', 'Annual Wages', '% Estimated',
       '# Pl_y', 'Age', 'Poss', 'MP_y', 'Starts', 'Min', '90s', 'Gls', 'Ast',
       'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A',
       'G-PK', 'G+A-PK'],
      dtype='object')

In [38]:
laliga_1314_sum_complete_df = laliga_1314_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
laliga_1415_sum_complete_df = laliga_1415_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
laliga_1516_sum_complete_df = laliga_1516_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
laliga_1617_sum_complete_df = laliga_1617_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
laliga_1718_sum_complete_df = laliga_1718_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
laliga_1819_sum_complete_df = laliga_1819_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
laliga_1920_sum_complete_df = laliga_1920_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
laliga_2021_sum_complete_df = laliga_2021_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]
laliga_2122_sum_complete_df = laliga_2122_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                          'Attendance']]

In [39]:
laliga_1314_sum_complete_df = laliga_1314_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
laliga_1415_sum_complete_df = laliga_1415_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
laliga_1516_sum_complete_df = laliga_1516_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
laliga_1617_sum_complete_df = laliga_1617_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
laliga_1718_sum_complete_df = laliga_1718_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
laliga_1819_sum_complete_df = laliga_1819_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
laliga_1920_sum_complete_df = laliga_1920_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
laliga_2021_sum_complete_df = laliga_2021_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})
laliga_2122_sum_complete_df = laliga_2122_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age',
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players',
                                                                             'MP_x': 'MP',})

In [44]:
laliga_1314_sum_complete_df[['pounds', 'dollars']] = laliga_1314_complete_df['Annual Wages'].str.split('$', expand=True)
laliga_1415_sum_complete_df[['pounds', 'dollars']] = laliga_1415_complete_df['Annual Wages'].str.split('$', expand=True) 
laliga_1516_sum_complete_df[['pounds', 'dollars']] = laliga_1516_complete_df['Annual Wages'].str.split('$', expand=True) 
laliga_1617_sum_complete_df[['pounds', 'dollars']] = laliga_1617_complete_df['Annual Wages'].str.split('$', expand=True) 
laliga_1718_sum_complete_df[['pounds', 'dollars']] = laliga_1718_complete_df['Annual Wages'].str.split('$', expand=True)
laliga_1819_sum_complete_df[['pounds', 'dollars']] = laliga_1819_complete_df['Annual Wages'].str.split('$', expand=True)
laliga_1920_sum_complete_df[['pounds', 'dollars']] = laliga_1920_complete_df['Annual Wages'].str.split('$', expand=True)
laliga_2021_sum_complete_df[['pounds', 'dollars']] = laliga_2021_complete_df['Annual Wages'].str.split('$', expand=True)
laliga_2122_sum_complete_df[['pounds', 'dollars']] = laliga_2122_complete_df['Annual Wages'].str.split('$', expand=True)
laliga_2122_sum_complete_df.head()

,Rk_x,Squad,MP,W,D,L,GF,GA,GD,Pts,...,G+A,G-PK,G+A-PK,xG_y,xAG,xG+xAG,npxG,npxG+xAG,pounds,dollars
0,1,Real Madrid,38,26,8,4,80,31,49,86,...,3.66,1.89,3.45,1.89,1.33,3.22,1.64,2.97,"€ 322,590,000 (£ 270,494,419,","328,755,245)"
1,2,Barcelona,38,21,10,7,68,38,30,73,...,3.16,1.63,3.00,1.67,1.25,2.92,1.52,2.78,"€ 252,745,000 (£ 211,928,796,","257,575,384)"
2,3,Atlético Madrid,38,21,8,9,65,43,22,71,...,2.84,1.55,2.74,1.43,1.06,2.49,1.33,2.39,"€ 167,330,000 (£ 140,307,605,","170,527,961)"
3,4,Sevilla,38,18,16,4,53,30,23,70,...,2.39,1.29,2.34,1.12,0.86,1.97,1.05,1.91,"€ 99,240,000 (£ 83,213,571,","101,136,644)"
4,5,Betis,38,19,8,11,62,40,22,65,...,2.76,1.42,2.61,1.41,0.99,2.40,1.29,2.28,"€ 47,970,000 (£ 40,223,247,","48,886,789)"

In [43]:
laliga_1314_sum_complete_df[['Annual Wages ($)', 'discard']] = laliga_1314_complete_df['dollars'].str.split(')', expand=True)
laliga_1415_sum_complete_df[['Annual Wages ($)', 'discard']] = laliga_1415_complete_df['dollars'].str.split(')', expand=True)
laliga_1516_sum_complete_df[['Annual Wages ($)', 'discard']] = laliga_1516_complete_df['dollars'].str.split(')', expand=True)
laliga_1617_sum_complete_df[['Annual Wages ($)', 'discard']] = laliga_1617_complete_df['dollars'].str.split(')', expand=True)
laliga_1718_sum_complete_df[['Annual Wages ($)', 'discard']] = laliga_1718_complete_df['dollars'].str.split(')', expand=True)
laliga_1819_sum_complete_df[['Annual Wages ($)', 'discard']] = laliga_1819_complete_df['dollars'].str.split(')', expand=True)
laliga_1920_sum_complete_df[['Annual Wages ($)', 'discard']] = laliga_1920_complete_df['dollars'].str.split(')', expand=True)
laliga_2021_sum_complete_df[['Annual Wages ($)', 'discard']] = laliga_2021_complete_df['dollars'].str.split(')', expand=True)
laliga_2122_sum_complete_df[['Annual Wages ($)', 'discard']] = laliga_2122_complete_df['dollars'].str.split(')', expand=True)

KeyError: 'dollars'

In [47]:
laliga_1314_sum_cleaned_df = laliga_1314_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
laliga_1415_sum_cleaned_df = laliga_1415_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
laliga_1516_sum_cleaned_df = laliga_1516_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
laliga_1617_sum_cleaned_df = laliga_1718_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
laliga_1718_sum_cleaned_df = laliga_1718_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
laliga_1819_sum_cleaned_df = laliga_1819_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
laliga_1920_sum_cleaned_df = laliga_1920_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
laliga_2021_sum_cleaned_df = laliga_2021_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
laliga_2122_sum_cleaned_df = laliga_2122_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)

KeyError: "['pounds' 'dollars' 'Annual Wages' 'discard'] not found in axis"

In [48]:
laliga_1314_sum_clean_sorted_df = laliga_1314_sum_cleaned_df.sort_values('Pts', ascending=False)
laliga_1415_sum_clean_sorted_df = laliga_1415_sum_cleaned_df.sort_values('Pts', ascending=False)
laliga_1516_sum_clean_sorted_df = laliga_1516_sum_cleaned_df.sort_values('Pts', ascending=False)
laliga_1617_sum_clean_sorted_df = laliga_1617_sum_cleaned_df.sort_values('Pts', ascending=False)
laliga_1718_sum_clean_sorted_df = laliga_1718_sum_cleaned_df.sort_values('Pts', ascending=False)
laliga_1819_sum_clean_sorted_df = laliga_1819_sum_cleaned_df.sort_values('Pts', ascending=False)
laliga_1920_sum_clean_sorted_df = laliga_1920_sum_cleaned_df.sort_values('Pts', ascending=False)
laliga_2021_sum_clean_sorted_df = laliga_2021_sum_cleaned_df.sort_values('Pts', ascending=False)
laliga_2122_sum_clean_sorted_df = laliga_2122_sum_cleaned_df.sort_values('Pts', ascending=False)

NameError: name 'laliga_1314_sum_cleaned_df' is not defined

In [49]:
laliga_1314_sum_clean_sorted_df['Season'] = '2013-2014'
laliga_1415_sum_clean_sorted_df['Season'] = '2014-2015'
laliga_1516_sum_clean_sorted_df['Season'] = '2015-2016'
laliga_1617_sum_clean_sorted_df['Season'] = '2016-2017'
laliga_1718_sum_clean_sorted_df['Season'] = '2017-2018'
laliga_1819_sum_clean_sorted_df['Season'] = '2018-2019'
laliga_1920_sum_clean_sorted_df['Season'] = '2019-2020'
laliga_2021_sum_clean_sorted_df['Season'] = '2020-2021'
laliga_2122_sum_clean_sorted_df['Season'] = '2021-2022'

NameError: name 'laliga_1314_sum_clean_sorted_df' is not defined

In [50]:
bundes_seasons_sum_df = pd.concat([laliga_1213_sum_clean_sorted_df,laliga_1314_sum_clean_sorted_df,laliga_1415_sum_clean_sorted_df,
                                    laliga_1516_sum_clean_sorted_df,laliga_1617_sum_clean_sorted_df,laliga_1718_sum_clean_sorted_df,
                                    laliga_1819_sum_clean_sorted_df,laliga_1920_sum_clean_sorted_df,laliga_2021_sum_clean_sorted_df,
                                    laliga_2122_sum_clean_sorted_df])

NameError: name 'laliga_1213_sum_clean_sorted_df' is not defined

In [51]:
laliga_seasons_sum_df = bundes_seasons_sum_df[['Season', 'League Rank', 'Squad', '# of Players', 'Avg Age',
                                                 'Avg Poss', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
                                                 'Attendance', 'Annual Wages ($)']]

laliga_seasons_sum_df['Annual Wages ($)'] = laliga_seasons_sum_df['Annual Wages ($)'].map(lambda x: x.replace(',', ''))

laliga_seasons_sum_df['Annual Wages ($)']=laliga_seasons_sum_df['Annual Wages ($)'].astype(float)
laliga_seasons_sum_df["League"] = "Bundesliga"
laliga_seasons_sum_df = laliga_seasons_sum_df.reset_index()
laliga_seasons_sum_df.groupby('Season')["Annual Wages ($)"].mean()

NameError: name 'bundes_seasons_sum_df' is not defined

In [ ]:
bundes_seasons_sum_df.to_csv('bundes_seasons_sum.csv', index=False)